<span style="font-family: verdana, geneva, sans-serif;"><!DOCTYPE html>
    <html lang="en">
      <head>
        <title>Sign Up </title>
        <link rel="stylesheet" href="Css/style.css" />
        <link
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
          rel="stylesheet"
        />

        <style>
            body {
                background-color: black;
                font-family: "Roboto", sans-serif;
              }
              
              .signup-box {
                width: 360px;
                height: 450px;
                margin: auto;
                background-color: white;
                border-radius: 3px;
                margin-top: 100px;
              }
              
              .login-box {
                width: 360px;
                height: 280px;
                margin: auto;
                border-radius: 3px;
                background-color: white;
              }
              
               h2 {
                text-align: center;
                padding-top: 15px;
              }
              h1 {
                text-align: center;
                padding-top: 50px;
                color: #49c1a2;
              }
              h4 {
                text-align: center;
              }
              
              form {
                width: 300px;
                margin-left: 20px;
              }
              
              form label {
                display: flex;
                margin-top: 20px;
                font-size: 18px;
              }
              
              form input {
                width: 100%;
                padding: 7px;
                border: none;
                border: 1px solid gray;
                border-radius: 6px;
                outline: none;
              }
              button{
                width: 320px;
                height: 35px;
                margin-top: 20px;
                border: none;
                background-color: #49c1a2;
                color: white;
                font-size: 18px;
              }
              p {
                text-align: center;
                padding-top: 20px;
                font-size: 15px;
              }
              .para-2 {
                text-align: center;
                color: white;
                font-size: 15px;
                margin-top: -10px;
              }
              .para-2 a {
                color: #49c1a2;
              }
        </style>
      </head>
      <body>
        <h1>Welcome to Analytical Url Shortener , Signup to Continue</h1>

        <div class="signup-box">
          <h2>Sign Up</h2>
          <form action="/user" method="POST">
            <label> Name</label>
            <input type="text" placeholder="" name ="name" required />
            <label>Email</label>
            <input type="email" placeholder="" name ="email" required />
            <label>Password</label>
            <input type="password" placeholder="" name ="password" required />
            <button type="submit">Signup</button>
        </form>
        </div>
        <p class="para-2">
          Already have an account? <a href="./">Login here</a>
        </p>
      </body>
    </html></span>